.photo-grid {
  margin: 92px auto 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 284px);
  gap: 16px;
  max-width: 1184px;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 944px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(auto-fit, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 368px) {
  .photo-grid {
    margin-top: 64px;
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 12px;
  }
}

