.places {
  margin: 92px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0px calc((100vw - 928px)/2) 0;
  }
}

@media screen and (max-width: 944px) {
  .places {
    max-width: 720px;
    margin: 88px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .places {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
  }
}
