.cover__overlay {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto;
  height: 100%;
  background-image: url('../../../images/cover__background.jpg');
  background-size: contain;
	background-repeat: no-repeat;
}

.cover__overlay::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: .3;
}

.cover__overlay:hover::before {
  opacity: .8;
}
