.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 152px repeat(auto-fill);
  gap: 48px 40px;
  margin-top: 80px;
}
.place:first-child {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    display: block;
    margin-top: 50px;
  }
}
