.footer__list-item {
  display: inline;
  padding-right: 14px;
}
.footer__list-item:last-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__list-item {
    display: block;
    padding: 0;
    margin-bottom:32px;
  }
  .footer__list-item:last-child {
    margin-bottom: 0;
  }
}
