.footer__list-item {
  display: inline;
  padding-right: 18px;
}
.footer__list-item:last-child {
  padding-right: 0px;
}

@media screen and (max-width: 780px) {
  .footer__list-item {
    display: block;
    padding: 0;
    margin-bottom: 32px;
  }
  .footer__list-item:last-child {
    margin: 0;
  }
}
